In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data=pd.read_csv('/content/IMDB_Movies.csv')

In [ ]:
data.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5023 non-null   object
 19  language                   5029 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(12), int64(3), object(13)
memory usage: 1.1+ MB

Dropping Columns Which Is not necessary

In [ ]:
data1=data.drop([
    'director_facebook_likes',
    'actor_3_facebook_likes',
    'actor_2_facebook_likes',
    'actor_1_facebook_likes',
    'cast_total_facebook_likes',
    'facenumber_in_poster',
    'plot_keywords',
    'aspect_ratio',
    'movie_facebook_likes'
    ],axis=1)

In [ ]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   color                   5024 non-null   object
 1   director_name           4939 non-null   object
 2   num_critic_for_reviews  4993 non-null   float64
 3   duration                5028 non-null   float64
 4   actor_2_name            5030 non-null   object
 5   gross                   4159 non-null   float64
 6   genres                  5043 non-null   object
 7   actor_1_name            5036 non-null   object
 8   movie_title             5043 non-null   object
 9   num_voted_users         5043 non-null   int64
 10  actor_3_name            5020 non-null   object
 11  movie_imdb_link         5043 non-null   object
 12  num_user_for_reviews    5023 non-null   object
 13  language                5029 non-null   object
 14  country                 5038 non-null   object
 15  content_rating          4740 non-null   object
 16  budget                  4551 non-null   float64
 17  title_year              4935 non-null   float64
 18  imdb_score              5043 non-null   float64
dtypes: float64(6), int64(1), object(12)
memory usage: 748.7+ KB

Handling Missing Values

Numeric Data

In [ ]:
data1.isnull().sum()

color                      19
director_name             104
num_critic_for_reviews     50
duration                   15
actor_2_name               13
gross                     884
genres                      0
actor_1_name                7
movie_title                 0
num_voted_users             0
actor_3_name               23
movie_imdb_link             0
num_user_for_reviews       20
language                   14
country                     5
content_rating            303
budget                    492
title_year                108
imdb_score                  0
dtype: int64

In [ ]:
row_missing_percentage=data1.isnull().mean(axis=1)*100
print(row_missing_percentage.sort_values(ascending=False).head(10))

279     57.894737
4       52.631579
2459    36.842105
2370    36.842105
2342    36.842105
4945    36.842105
2241    36.842105
4460    31.578947
4517    31.578947
2765    31.578947
dtype: float64

In [ ]:
data1=data1[row_missing_percentage<=30]
print(data1)

      color      director_name  num_critic_for_reviews  duration  \
0     Color      James Cameron                   723.0     178.0
1     Color     Gore Verbinski                   302.0     169.0
2     Color         Sam Mendes                   602.0     148.0
3     Color  Christopher Nolan                   813.0     164.0
5     Color     Andrew Stanton                   462.0     132.0
...     ...                ...                     ...       ...
5038  Color        Scott Smith                     1.0      87.0
5039  Color                NaN                    43.0      43.0
5040  Color   Benjamin Roberds                    13.0      76.0
5041  Color        Daniel Hsia                    14.0     100.0
5042  Color           Jon Gunn                    43.0      90.0

          actor_2_name        gross                           genres  \
0     Joel David Moore  760505847.0  Action|Adventure|Fantasy|Sci-Fi
1        Orlando Bloom  309404152.0         Action|Adventure|Fantasy
2         Rory Kinnear  200074175.0        Action|Adventure|Thriller
3       Christian Bale  448130642.0                  Action|Thriller
5      Samantha Morton   73058679.0          Action|Adventure|Sci-Fi
...                ...          ...                              ...
5038     Daphne Zuniga          NaN                     Comedy|Drama
5039     Valorie Curry          NaN     Crime|Drama|Mystery|Thriller
5040     Maxwell Moody          NaN            Drama|Horror|Thriller
5041     Daniel Henney      10443.0             Comedy|Drama|Romance
5042  Brian Herzlinger      85222.0                      Documentary

         actor_1_name                                movie_title  \
0         CCH Pounder                                    Avatar
1         Johnny Depp  Pirates of the Caribbean: At World's End
2     Christoph Waltz                                   Spectre
3           Tom Hardy                     The Dark Knight Rises
5        Daryl Sabara                               John Carter
...               ...                                        ...
5038      Eric Mabius                   Signed Sealed Delivered
5039      Natalie Zea                 The Following
5040      Eva Boehnke                      A Plague So Pleasant
5041        Alan Ruck                          Shanghai Calling
5042      John August                         My Date with Drew

      num_voted_users          actor_3_name  \
0              886204             Wes Studi
1              471220        Jack Davenport
2              275868      Stephanie Sigman
3             1144337  Joseph Gordon-Levitt
5              212204          Polly Walker
...               ...                   ...
5038              629          Crystal Lowe
5039            73839         Sam Underwood
5040               38        David Chandler
5041             1255           Eliza Coupe
5042             4285              Jon Gunn

                                        movie_imdb_link num_user_for_reviews  \
0     http://www.imdb.com/title/tt0499549/?ref_=fn_t...                 3054
1     http://www.imdb.com/title/tt0449088/?ref_=fn_t...                 1238
2     http://www.imdb.com/title/tt2379713/?ref_=fn_t...                  994
3     http://www.imdb.com/title/tt1345836/?ref_=fn_t...                 2701
5     http://www.imdb.com/title/tt0401729/?ref_=fn_t...                  738
...                                                 ...                  ...
5038  http://www.imdb.com/title/tt3000844/?ref_=fn_t...                    6
5039  http://www.imdb.com/title/tt2071645/?ref_=fn_t...                  359
5040  http://www.imdb.com/title/tt2107644/?ref_=fn_t...                    3
5041  http://www.imdb.com/title/tt2070597/?ref_=fn_t...                    9
5042  http://www.imdb.com/title/tt0378407/?ref_=fn_t...                   84

     language country content_rating       budget  title_year  imdb_score
0     English     USA          PG-13  237000000.0      2009.0         7.9
1     English     USA          PG-13  300000000.0      2007.0         7.1
2     English      UK          PG-13  245000000.0      2015.0         6.8
3     English     USA          PG-13  250000000.0      2012.0         8.5
5     English     USA          PG-13  263700000.0      2012.0         6.6
...       ...     ...            ...          ...         ...         ...
5038  English  Canada            NaN          NaN      2013.0         7.7
5039  English     USA          TV-14          NaN         NaN         7.5
5040  English     USA            NaN       1400.0      2013.0         6.3
5041  English     USA          PG-13          NaN      2012.0         6.3
5042  English     USA             PG       1100.0      2004.0         6.6

[5029 rows x 19 columns]

In [ ]:
missing_by_column = data1.isnull().mean() * 100
print(missing_by_column.sort_values(ascending=False))

gross                     17.299662
budget                     9.544641
content_rating             5.766554
director_name              1.889044
title_year                 1.889044
num_critic_for_reviews     0.815271
actor_3_name               0.338039
color                      0.318155
num_user_for_reviews       0.278385
duration                   0.258501
language                   0.218731
actor_2_name               0.178962
actor_1_name               0.119308
country                    0.039769
genres                     0.000000
num_voted_users            0.000000
movie_title                0.000000
movie_imdb_link            0.000000
imdb_score                 0.000000
dtype: float64

In [ ]:
data1.isnull().sum()

color                      16
director_name              95
num_critic_for_reviews     41
duration                   13
actor_2_name                9
gross                     870
genres                      0
actor_1_name                6
movie_title                 0
num_voted_users             0
actor_3_name               17
movie_imdb_link             0
num_user_for_reviews       14
language                   11
country                     2
content_rating            290
budget                    480
title_year                 95
imdb_score                  0
dtype: int64

In [ ]:
data1['num_user_for_reviews'] = pd.to_numeric(data1['num_user_for_reviews'], errors='coerce')

In [ ]:
data1['budget'] = data1['budget'].fillna(data1['budget'].median())
data1['gross'] = data1['gross'].fillna(data1['gross'].median())
data1['duration'] = data1['duration'].fillna(data1['duration'].median())
data1['num_critic_for_reviews'] = data1['num_critic_for_reviews'].fillna(data1['num_critic_for_reviews'].median())
data1['title_year'] = data1['title_year'].fillna(data1['title_year'].median())
data1['num_user_for_reviews'] = pd.to_numeric(data1['num_user_for_reviews'], errors='coerce')
data1['num_user_for_reviews'] = data1['num_user_for_reviews'].fillna(data1['num_user_for_reviews'].median())

Categorial Data

In [ ]:
data1 = data1[data1['color'].notnull()]

In [ ]:
data1 = data1[data1['director_name'].notnull()]

In [ ]:
data1 = data1[data1['country'].notnull()]

In [ ]:
data1 = data1[data1['language'].notnull()]

In [ ]:
data1.to_csv('cleaned_IMDB_data.csv', index=False)

## EDA

In [ ]:
data1.shape

(4910, 19)

In [ ]:
data1.dtypes

color                      object
director_name              object
num_critic_for_reviews    float64
duration                  float64
actor_2_name               object
gross                     float64
genres                     object
actor_1_name               object
movie_title                object
num_voted_users             int64
actor_3_name               object
movie_imdb_link            object
num_user_for_reviews      float64
language                   object
country                    object
content_rating             object
budget                    float64
title_year                float64
imdb_score                float64
dtype: object

In [ ]:
data1.describe()

,num_critic_for_reviews,duration,gross,num_voted_users,num_user_for_reviews,budget,title_year,imdb_score
count,4910.000000,4910.000000,4.910000e+03,4.910000e+03,4910.000000,4.910000e+03,4910.000000,4910.000000
mean,142.799593,108.192668,4.498658e+07,8.525402e+04,277.373931,3.839281e+07,2002.495519,6.418656
std,121.208432,22.515967,6.351794e+07,1.398420e+05,380.725998,1.984901e+08,12.313315,1.112249
min,1.000000,7.000000,1.620000e+02,5.000000e+00,1.000000,2.180000e+02,1927.000000,1.600000
25%,54.000000,94.000000,8.031455e+06,9.175750e+03,69.000000,7.000000e+06,1999.000000,5.800000
50%,112.000000,104.000000,2.551750e+07,3.545500e+04,160.000000,2.000000e+07,2005.000000,6.500000
75%,196.000000,118.000000,5.269838e+07,9.839075e+04,332.000000,4.000000e+07,2011.000000,7.200000
max,813.000000,330.000000,7.605058e+08,1.689764e+06,5060.000000,1.221550e+10,2016.000000,9.300000

In [ ]:
print("Genres:-\n",data1['genres'].value_counts().head(10))
print("----------------------------------------------------")
print("Country:-\n",data1['country'].value_counts().head(10))
print("----------------------------------------------------")
print("Language:-\n",data1['language'].value_counts().head(10))

Genres:-
 genres
Drama                          231
Comedy                         200
Comedy|Drama                   188
Comedy|Drama|Romance           184
Comedy|Romance                 153
Drama|Romance                  149
Crime|Drama|Thriller            98
Horror                          70
Action|Crime|Thriller           65
Action|Crime|Drama|Thriller     63
Name: count, dtype: int64
----------------------------------------------------
Country:-
 country
USA          3714
UK            433
France        152
Canada        121
Germany        97
Australia      53
India          34
Spain          33
China          29
Japan          22
Name: count, dtype: int64
----------------------------------------------------
Language:-
 language
English      4595
French         72
Spanish        40
Hindi          28
Mandarin       25
German         19
Japanese       17
Cantonese      11
Russian        11
Italian        10
Name: count, dtype: int64